<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510780556481-k741c0f7e65lsp0lo7krm8lpqc6qkakc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510780556481-k741c0f7e65lsp0lo7krm8lpqc6qkakc</string>
	<key>API_KEY</key>
	<string>AIzaSyBZTGpwQ0yeWgux4CGPoMNa9F1usLqPl0A</string>
	<key>GCM_SENDER_ID</key>
	<string>510780556481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>examendisonia</string>
	<key>STORAGE_BUCKET</key>
	<string>examendisonia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510780556481:ios:ef9ff355f87f7420fa0040</string>
</dict>
</plist>